name: Simple CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Check if README exists
        run: |
          echo "Checking for README file"
          if ls README.md readme.md Readme.md 1> /dev/null 2>&1; then
            echo "README file found ✅"
          else
            echo "README file NOT found ❌"
            exit 1
          fi
