name: Simple CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

       - name: Run broken command
        run: |
          echo "CI pipeline started"
          ls not-a-real-folder
          echo "You will never see this"

